<div
	class="flex flex-col md:flex-row items-center justify-center w-full gap-6 mt-10"
>
	<z-button
		class="zard-button clickable"
		(click)="this.router.navigate(['/home'])"
		>🏠 Home</z-button
	>
	<z-button
		class="zard-button clickable"
		(click)="this.router.navigate(['/dashboard'])"
		>💨 Dashboard</z-button
	>
	<z-button
		class="zard-button clickable"
		(click)="this.router.navigate(['/profile'])"
		>🧑 Profile</z-button
	>
	<z-button
		class="zard-button clickable"
		(click)="this.router.navigate(['/logout'])"
		>Logout</z-button
	>
</div>
