<div class="absolute top-0 left-0">
	<p-toast position="top-right" />
</div>

<div
	class="flex flex-col h-screen max-h-screen md:overflow-x-hidden gap-2 items-center justify-center w-[90vw] max-w-screen mx-auto"
>
	<!-- <app-header
		*ngIf="
			this.router.url.includes('login') === false ||
			this.router.url.includes('register') === false
		"
	></app-header> -->

	<hr
		class="h-1 border-[1px] border-zinc-600 opacity-75 w-full my-2 rounded-3xl hr-expand"
	/>

	<main class="flex flex-1 items-center justify-center w-screen">
		<router-outlet />
	</main>
</div>
