@import 'tailwindcss';
@plugin "tailwindcss-primeui";

p-toast {
	@apply text-[#fefefe] w-min p-20 m-20;
	font-family: 'Inter';

	/* root declarations */
	--p-toast-text-gap: 0.1rem;
	--p-toast-content-padding: var(--p-overlay-popover-padding);
	--p-toast-content-gap: 0.5rem;
	--p-toast-icon-size: 1.25rem;
	--p-toast-width: 20rem;
	--p-toast-blur: 10px;
	--p-toast-border-radius: 1rem;
	--p-toast-border-width: 1px;
	--p-toast-transition-duration: var(--p-transition-duration);

	/* close command declarations */
	--p-toast-close-icon-size: 1rem;
	--p-toast-close-button-width: 1.75rem;
	--p-toast-close-button-height: 1.75rem;
	--p-toast-close-button-border-radius: 50%;
	--p-toast-close-button-focus-ring-width: var(--p-focus-ring-width);
	--p-toast-close-button-focus-ring-style: var(--p-focus-ring-style);
	--p-toast-close-button-focus-ring-offset: var(--p-focus-ring-offset);

	/* message content declarations */
	--p-toast-detail-font-weight: 500;
	--p-toast-detail-font-size: 0.875rem;
	--p-toast-summary-font-weight: 400;
	--p-toast-summary-font-size: 1.2rem;

	/* severity-based declarations */
	/* contrast theme */
	/* --p-toast-contrast-background: var(--p-surface-900);
  --p-toast-contrast-border-color: rgba(0, 0, 0, 0);
  --p-toast-contrast-color: var(--p-surface-50);
  --p-toast-contrast-detail-color: var(--p-surface-0);
  --p-toast-contrast-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-950), transparent 96%);
  --p-toast-contrast-close-button-hover-background: var(--p-surface-800);
  --p-toast-contrast-close-button-focus-ring-color: var(--p-surface-50);
  --p-toast-contrast-close-button-focus-ring-shadow: none; */

	/* secondary theme */
	--p-toast-secondary-shadow: 0px 1px 1px 0px
		color-mix(in srgb, var(--p-surface-500), transparent 96%);
	/* --p-toast-secondary-background: var(--p-surface-100);
  --p-toast-secondary-border-color: rgba(0, 0, 0, 0);
  --p-toast-secondary-color: var(--p-surface-600);
  --p-toast-secondary-detail-color: var(--p-surface-700);
  --p-toast-secondary-close-button-hover-background: var(--p-surface-200);
  --p-toast-secondary-close-button-focus-ring-color: var(--p-surface-600);
  --p-toast-secondary-close-button-focus-ring-shadow: none; */

	/* error */
	--p-toast-error-shadow: 0px 1px 2px 0px
		color-mix(in srgb, var(--p-red-500), transparent 96%);
	/* --p-toast-error-background: color-mix(
    in srgb,
    var(--p-red-50),
    transparent 95%
  );
  --p-toast-error-border-color: rgba(0, 0, 0, 0);
  --p-toast-error-color: var(--p-red-600);
  --p-toast-error-detail-color: var(--p-surface-200);

  --p-toast-error-close-button-hover-background: var(--p-red-100);
  --p-toast-error-close-button-focus-ring-color: var(--p-red-600);
  --p-toast-error-close-button-focus-ring-shadow: none; */

	/* warn */
	--p-toast-warn-shadow: 0px 1px 2px 0px
		color-mix(in srgb, var(--p-yellow-500), transparent 96%);
	/* --p-toast-warn-background: color-mix(
    in srgb,
    var(--p-yellow-50),
    transparent 95%
  );
  --p-toast-warn-border-color: rgba(0, 0, 0, 0);
  --p-toast-warn-color: var(--p-yellow-600);
  --p-toast-warn-detail-color: var(--p-surface-200);

  --p-toast-warn-close-button-hover-background: var(--p-yellow-100);
  --p-toast-warn-close-button-focus-ring-color: var(--p-yellow-600);
  --p-toast-warn-close-button-focus-ring-shadow: none; */

	/* success */
	--p-toast-success-shadow: 0px 1px 2px 0px
		color-mix(in srgb, var(--p-green-500), transparent 96%);
	/* --p-toast-success-background: color-mix(
    in srgb,
    var(--p-green-50),
    transparent 95%
  );
  --p-toast-success-border-color: rgba(0, 0, 0, 0);
  --p-toast-success-color: var(--p-green-600);
  --p-toast-success-detail-color: var(--p-surface-200);

  --p-toast-success-close-button-hover-background: var(--p-green-100);
  --p-toast-success-close-button-focus-ring-color: var(--p-green-600);
  --p-toast-success-close-button-focus-ring-shadow: none; */

	/* info */
	--p-toast-info-shadow: 0px 1px 2px 0px
		color-mix(in srgb, var(--p-blue-500), transparent 96%);
	/* --p-toast-info-background: color-mix(
    in srgb,
    var(--p-blue-50),
    transparent 95%
  );
  --p-toast-info-border-color: rgba(0, 0, 0, 0);
  --p-toast-info-color: var(--p-blue-400);
  --p-toast-info-detail-color: var(--p-surface-200);
  --p-toast-info-close-button-hover-background: var(--p-blue-100);
  --p-toast-info-close-button-focus-ring-color: var(--p-blue-600);
  --p-toast-info-close-button-focus-ring-shadow: none; */
}

.p-toast-summary {
	@apply font-extrabold;
}

.p-toast-message {
	@apply border-0 bg-gray-900/25;
}

.p-toast-detail {
	@apply text-white/75;
}
