@import url('./app/styles/root.css');
@import url('./app/styles/primeng-custom/primeng-button.css');
@import url('./app/styles/primeng-custom/primeng-toast.css');

@import 'tailwindcss';
@plugin "tailwindcss-primeui";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

body {
	@apply bg-[#151515] text-[#dedede];

	/* https://www.magicpattern.design/tools/css-backgrounds */
	background-color: #151515;
	opacity: 1;
	background-image: radial-gradient(#424242 0.85px, #151515 0.85px);
	background-size: 32px 32px;
	backdrop-filter: blur(2px);
}

body > * {
	font-family: 'Lexend', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
